{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "css/output.css" %}">
    <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+Bengali:wght@100..900&display=swap"
    rel="stylesheet"
  />
</head>
<body>
    {% if messages %}
        <p>{{messages}}</p>
    {% endif %}


    <form method="POST">
        {% csrf_token %}
        {{ task_form}}
        {{ task_detail_form}}
        <button type="submit">Submit</button>
    </form>
</body>
</html>